
main{
  display: grid;
  grid-template-columns: 200px 200px 200px ;
  grid-gap:0px;
  align-items: center;
  overflow: hidden;
}


app-square{
  position: relative;
  border: 1px black solid;
  height: 200px;
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: center;

}









